<div class="page-header">
    <div class="media project-header">
        <div class="pull-left">
            <img data-ng-src="{{ project.avatar_urls['48x48'] }}">
        </div>
        <div class="media-body">
            <h1>{{ project.name }}</h1>
            <p>
                &nbsp;Project Key: <strong>{{ project.key }}</strong>
                | <a href="/config/{{ project.key }}">Edit Configuration</a>
            </p>
        </div>
    </div>
    <div data-ng-show="alert.message" role="alert"
         class="alert alert-{{alert.type}}">{{alert.message}}</div>
</div>
<div class="row filter-row">
    <div class="col-sm-12">
        <a href="/projects">&larr; View all</a>
        <div class="pull-right filter-holder">
            <button type="button" class="btn btn-sm btn-primary"
                    data-ng-click="saveProject()">Save</button>
        </div>
    </div>
</div>
<div class="project-page">
    <div class="row">
        <div class="col-md-6">
            <h2>Versions</h2>
            <ul>
                <li data-ng-repeat="version in project.versions">
                    <a href="/project/{{ project.key }}/{{ version.name }}">{{ version.name }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Users</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="row" data-ng-repeat="user in project.users">
                        <div class="col-md-7">
                            <a href="/performance/{{ user.key }}">{{ user.name }}</a>
                        </div>
                        <div class="col-md-5">
                            <select data-ng-model="user.type"
                                    data-ng-options="userType.key as userType.name for userType in userTypes">
                                <option value="">&mdash;</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div data-ng-controller="Project_Users_Import" data-ng-include="template"></div>
                </div>
            </div>
        </div>
    </div>
</div>