@media (max-width: 1400px) {
    body {
        font-size: 13px;
    }
}
footer {
    margin-top: 100px;
}
input[type="search"] {
    /*-webkit-box-sizing: content-box;*/
    /*-moz-box-sizing: content-box;*/
    /*box-sizing: content-box;*/
    -webkit-appearance: searchfield;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}
label {
    font-weight: normal;
}
.a {
    color: #428bca;
    cursor: pointer;
}
.a:hover,
.a.focus{
    color: #2a6496;
    text-decoration: underline;
}
.a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.container-fluid {
    margin-left: 40px;
    margin-right: 40px;
}
.page-header {
    position: relative;
}
.page-header .alert {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.project-header h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.project-header img {
    margin-top: 5px;
}

.issue-key .issue-icon,
.issue-key-url .issue-icon {
    margin-right: 5px;
    vertical-align: middle;
}
.cl-report-header {
    margin-top: 10px;
    margin-bottom: 10px;
}
.cl-report-row {
    min-height: 2em;
}
.cl-report-row:hover {
    background: #e8e8e8;
}
.cl-report-row.drag-enter {
    border-top: 1px solid #ccc;
}
.cl-report-row.drag-enter:hover,
.cl-report-row.pseudo {
    background: transparent;
}

.cl-report-row .good .cell-status {
    color: #0d9814;
}
.cl-report-row .so-so .cell-status {
    color: #cd961a;
}
.cl-report-row .bad .cell-status {
    color: #ff2f31;
}
.cl-report-row-children {
    /*background: #f7f7f7;*/
    padding-bottom: 10px;
}
.expand-btn,
.collapse-btn {
    margin-left: -1.16em;
    margin-right: .3em;
    cursor: pointer;
}
.cell-summary .expand-btn,
.cell-summary .collapse-btn {
    display: none;
}
@media (min-width: 1400px) {
    .cell-summary .expand-btn,
    .cell-summary .collapse-btn{
        display: inline;
    }
}
.cell {
    padding-top: 3px;
    padding-bottom: 3px;
}
.info {
    margin-top: 10px;
    padding: 10px 15px;
}
.secondary-info {
    color:#aaa;
}
.clear-cross {
    font-size: 2em;
    line-height: 1em;
    position: relative;
    bottom: -.2em;
    text-decoration: none !important;
}
.version-dates input {
    display: inline-block;
    width: 100px;
}
.version-dates .input-dev-days {
    width: 30px;
}
.cl-report-row .input-sm {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 25px;
    font-size: 14px;
}
.cell-summary {
    position: relative;
}
.issue-summary {
    margin-right: 20px;
    cursor: pointer;
}
.issue-time {
    color: #888;
    white-space: nowrap;
    display: none;
    /*float: right;*/
    position: absolute;
    right: 0;
    background-color: #fff;
    padding: 0 5px;
}
.nowrap {
    white-space: nowrap;
}
.issue-time span {
    color: #333;
}
.cl-report-row:hover .issue-time {
    display: inline;
}
.cell-status {
    overflow: hidden;
    text-overflow: ellipsis;
}
.issue-status {
    white-space: nowrap;
}
.cell-key {
    white-space: nowrap;
}
.assignee {
    white-space: nowrap;
}
.cl-report-export {
    border-collapse: collapse;
}
.cl-report-export td {
    padding: 5px 10px;
}

.cl-report-export td {
    border-bottom: 1px solid #fff ;
}
.cl-report-export .cell-summary {
    min-width: 200px;
}
.cl-report-export .cell-note {
    min-width: 150px;
}
.cl-report-export .cl-report-row.good {
    background-color: #cfe6c4;
}
.cl-report-export .cl-report-row.so-so {
    background-color: #fff7bf;
}
.cl-report-export .cl-report-row.bad {
    background-color: #ffd1cf;
}
.cl-report-export .cl-report-row .cell-status {
    color: #333;
}
.cell-key {
    /*position: relative;*/
}
.issue-action {
    display: none;
    position: relative;
    z-index: 100;
}
.cl-report-row:hover .issue-action {
    display: inline;
}
.issue-action.glyphicon-repeat {
    left: 5px;
}
.issue-action.glyphicon-remove {
    color: #a94442;
    left: 10px;
}
.loading-indicator {
    display: inline-block;
    background: url(../img/loading-indicator.gif) no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    position: relative;
    top: 1px;
}
.cl-report-row .loading-indicator {
    position: absolute;
    margin-left: 5px;
}
.spent-chart {
    /*width: 100% !important;*/
}