<!doctype html>
<html lang="en" ng-app="agile">
<head>
    <meta charset="utf-8">
    <title>Agile Tools</title>
    <link rel="stylesheet" href="/assets/bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/app/css/app.css">

    <script src="/assets/bower/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bower/angular/angular.min.js"></script>
    <script src="/assets/bower/angular-route/angular-route.min.js"></script>
    <script src="/assets/bower/angular-resource/angular-resource.min.js"></script>

    <script src="/assets/app/js/modules/helper.js"></script>
    <script src="/assets/app/js/modules/api.js"></script>
    <script src="/assets/app/js/modules/agile.js"></script>
    <script src="/assets/app/js/modules/agile/controllers/projects.js"></script>
</head>
<body>

<div ng-view></div>

</body>
</html>