<div class="page-header">
    <h1>{{ user.name }}</h1>
    <div data-ng-show="alert.message" role="alert"
         class="alert alert-{{alert.type}}">{{alert.message}}</div>
</div>
<div class="performance-page">
    <div class="row">
        <div class="col-md-8">
            <h3>Projects:</h3>
            <p data-ng-show="filters.project">Filtered by: <strong>{{ filters.project.name }}</strong></p>
            <ul class="perf-projects-list">
                <li><span class="a" data-ng-click="filters.project = null">All</span></li>
                <li data-ng-repeat="project in projects">
                    <span class="a" data-ng-click="filters.project = project">{{ project.name }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Stats</h3>
            <p>Collected for {{ 'now' | dateFormat:'DD.MM.YYYY' }}</p>
        </div>
    </div>
    <div data-ng-controller="Performance_Bugs" data-ng-include="template"></div>
    <div data-ng-controller="Performance_Tasks" data-ng-include="template"></div>
</div>
