<div class="page-header">
    <div class="media project-header">
        <div class="pull-left">
            <img data-ng-src="{{ project.avatar_urls['48x48'] }}">
        </div>
        <div class="media-body">
            <h1>{{ project.name }}</h1>
            <p>&nbsp;Project Key: <strong>{{ project.key }}</strong></p>
        </div>
    </div>
    <div data-ng-show="alert.message" role="alert"
         class="alert alert-{{alert.type}}">{{alert.message}}</div>
</div>
<div class="project-page">
    <div class="row">
        <div class="col-md-6">
            <h2>Versions</h2>
            <ul>
                <li data-ng-repeat="version in project.versions">
                    <a href="#/version/{{ project.key }}/{{ version.name }}">{{ version.name }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Users</h2>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li data-ng-repeat="user in project.users">
                            <a href="#/user/{{ project.key }}/{{ user.key }}">{{ user.name }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div data-ng-controller="Project_Users_Import">
                        <ng-include src="template"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
