<div class="page-header">
    <h1><a href="#/project/{{ project.key }}">{{ project.name }}</a> / {{ version.name }}</h1>
    <div data-ng-show="alert.message" role="alert"
         class="alert alert-{{alert.type}}">{{alert.message}}</div>
</div>
<div class="version-dates pull-right">
    <span data-ng-if="version.startDate">
        <span class="date" title="Start Date">{{ moment(version.startDate.date).format('MMM,[&nbsp;]DD') }}</span>
        &rarr;
    </span>
    <span data-ng-if="version.releaseDate">
        <span class="date" title="Release Date">{{ moment(version.releaseDate.date).format('MMM,[&nbsp;]DD') }}</span>
        |
    </span>
    <span data-ng-if="!version.releaseDate">? |</span>
    {{ version.released ? 'Released' : 'Not Released'}}
</div>
<ul class="nav nav-tabs" role="tablist">
    <li data-ng-class="getTabClass('confidence_report')"
        data-ng-click="tab = 'confidence_report'">
        <a href="">Confidence Report</a>
    </li>
    <li data-ng-class="getTabClass('resources')"
        data-ng-click="tab = 'resources'">
        <a href="">Resources</a>
    </li>
    <li ng-class="getTabClass('plan')"
        data-ng-click="tab = 'plan'">
        <a href="">Plan</a>
    </li>
</ul>
<div class="version-page">
    <div data-ng-controller="Version_ConfidenceReport"
         data-ng-show="tab == 'confidence_report'">
        <div data-ng-include="template"></div>
    </div>
</div>
