<div class="row">
    <div class="col-md-8">
        <h4>Bugs</h4>
        <p data-ng-show="loadingBugsStats" class="info bg-info">
            <span class="loading-indicator" title="Please wait..."></span>
            We are collecting stats. Please wait for a moment.
        </p>
        <div data-ng-hide="loadingBugsStats">
            <div class="row">
                <div class="col-xs-4">
                    <p>
                        <strong>Considered:</strong> {{ stats.bugs.numberOfBugs }} bugs<br/>
                        <strong>Total:</strong> {{ stats.bugs.spentTotal | jiraTime }}<br/>
                        <strong>Avg:</strong> {{ stats.bugs.spentAverage | jiraTime }}<br/>
                        <strong>Min / Max:</strong>
                            {{ stats.bugs.spentMin | jiraTime }} / {{ stats.bugs.spentMax | jiraTime }}<br/>
                    </p>
                </div>
                <div class="col-xs-8">
                    <p data-ng-hide="showHow" class="non-printable">
                        <span class="a" data-ng-click="showHow = true">How do we collect this?</span>
                    </p>
                    <ol data-ng-show="showHow">
                        <li>
                            We get first {{ limit }} bugs with following jql:
                            <pre>{{ jql }}</pre>
                        </li>
                        <li>
                            Then we look through each bug and collect all worklogs of the current user.
                            <br>And then a simple Math goes.
                        </li>
                    </ol>
                    <p data-ng-show="showHow" class="non-printable">
                        <span class="a" data-ng-click="showHow = false">Hide</span>
                    </p>
                </div>
            </div>
            <div>
                <strong>All worklogs:</strong><br>
                <canvas class="spent-chart" id="bugsChart" width="1000" height="400"></canvas>
            </div>
        </div>
    </div>
</div>