<h2>Confidence Report</h2>

<div data-ng-controller="Version_ConfidenceReport_Import">
    <ng-include src="template"></ng-include>
</div>

<div data-ng-controller="Version_ConfidenceReport_Export">
    <ng-include src="template"></ng-include>
</div>

<div class="cl-report-container" data-ng-hide="hideIssues">

    <div class="row">
        <div class="col-sm-3">
            <input type="search" class="form-control input-sm" placeholder="Filter issues"
                   data-ng-model="searchIssue">
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary"
                    data-ng-click="saveConfidenceReport()">Save</button>

            <button type="button" class="btn btn-warning"
                    data-ng-click="updateConfidenceReport(true)">Update</button>

            <button type="button" class="btn"
                    data-ng-hide="true"
                    data-ng-click="actualizeIssuesState()">Actualize State</button>

            <button type="button" class="btn"
                    data-ng-hide="true"
                    data-ng-click="actualizeIssuesAssignees()">Actualize Assignees</button>

            <label><input type="checkbox" data-ng-model="expandAssignees"> Expand Assigness</label>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
    </div>

    <div class="cl-report" data-ng-hide="showUpdateLoader">
        <div class="row cl-report-header">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Key</strong>
                    </div>
                    <div class="col-sm-7">
                        <strong>Story Key / Summary</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong>Assignees</strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <strong>Status</strong>
            </div>
            <div class="col-sm-1">
                <strong>Progress</strong>
            </div>
            <div class="col-sm-1">
                <strong>CL</strong>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-2"><strong>Impl</strong></div>
                    <div class="col-sm-2"><strong>Doc</strong></div>
                    <div class="col-sm-2"><strong>TBD</strong></div>
                    <div class="col-sm-2"><strong>TC</strong></div>
                    <div class="col-sm-2"><strong>QA</strong></div>
                    <div class="col-sm-2"><strong>CR</strong></div>
                </div>
            </div>
            <div class="col-sm-1">
                <strong>Note</strong>
            </div>
        </div>

        <div class="row cl-report-row"
             data-ng-repeat="issueInfo in confidenceReport.issues | confidenceLevelsFilter:searchIssue"
             data-ng-controller="Version_ConfidenceReport_IssueInfo">
                <ng-include src="template"></ng-include>
        </div>
    </div>

    <p data-ng-show="showUpdateLoader" class="info bg-info">
        <span class="glyphicon glyphicon-music"></span>
        Issues are being updated. Please wait for a moment.
    </p>
</div>